.c-btn{
    display: inline-block;
    padding:14px 14px;
    width: 600px;
    font-size: 3rem;
    text-align: center;
    border-radius: 56px;
    background: var(--themecolor);
    border-top: 1px solid #fff;
    font-weight: bold;
    animation: bound 2s infinite;
    transition: all .5s;
    @include mq(){
        width: 100%;
    }
    &__outer{
        width: 960px;
        margin: 0 auto;
        @include mq(){
            width: 100%;
        }
    }
}
.c-btn:hover{
    transform: translateY(0);
    animation: none;
}
@keyframes bound{
    0%{transform: translateY(0)}
    35%{transform: translateY(-20px)}
    40%{transform: translateY(-20px)}
    65%{transform: translateY(0)}
    100%{transform: translateY(0)}
}