.p-info{
    width: 100%;
    background: #fff5b2;
}
.p-info__inner{
    width: 960px;
    padding: 2rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include mq(){
        width: 100%;
        flex-direction: column;
    }
}
.p-summary{
    width: 960px;
    min-height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    @include mq(){
        width: 100%;
    }
    .p-summary{
        &__image{
            position: absolute;
            z-index:-1;
            top:45px;
            right:0;
            transition: all 1.5s ease-out 1s;
            transform: translateX(20px);
            opacity: 0;
            @include mq(){
                position: static;
            }
        }
        &__intro{
            background: var(--themecolor);
            padding: 3rem;
            width: 500px;
            height: 500px;
            float: left;
            transition: all 1.5s ease-out 1s;
            transform: translateX(-20px);
            opacity: 0;
            @include mq(){
                float: none;
                width: 100%;
                height: auto;
            }
        }
        &__heading{
            font-size: 6rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }
        &__text{
            padding:0 2.5rem;
            line-height: 1.7;
        }
        &__copy{
            position: absolute;
            bottom:10px;
            left: 0;
            background: rgba($color: #000000, $alpha: .6);
            color: #fff;
            font-size: 4.8rem;
            font-weight: bold;
            padding: .5rem 1.5rem;
            transition: all 1.5s ease-out 1s;
            transform: translateX(-20px);
            opacity: 0;
            @include mq(){
                position: static;
            }
        }
    }
    &.p-summary--right{
        .p-summary{
            &__image{
                left:0;
                right: auto;
                transition: all 1.5s ease-out 1s;
                transform: translateX(-20px);
                opacity: 0;
            }
            &__intro{
                float: right;
                transition: all 1.5s ease-out 1s;
                transform: translateX(20px);
                opacity: 0;
                @include mq(){
                    float: none;
                }
            }
            &__copy{
                right: 0;
                left: auto;
                transition: all 1.5s ease-out 1s;
                transform: translateX(20px);
                opacity: 0;
            }
        }
    }
    &.is-show{
        .p-summary{
            &__image{
                transform:translateX(0);
                opacity: 1;
            }
            &__intro{
                transform:translateX(0);
                opacity: 1;
            }
            &__copy{
                transform:translateX(0);
                opacity: 1;
            }
        }
    }
}

