body .l-body__inner{
    background: var(--bgcolor);
}
body.is-gnav-open{
    @include mq(){
        overflow: hidden;
    }
}
body.is-gnav-open .l-body__inner{
    @include mq(){
        margin-left: -70%;
        overflow: hidden;
        width: 100%;
        max-width: 600px;
        height: 100%;
        position: relative;
    }
}
