.l-footer{
    width: 100%;
    padding: 7rem 0 5rem;
    background: var(--themecolor);
    @include mq(){
        padding: 3rem 0 3rem;
    }
    .l-footer{
        &__inner{
            width: 960px;
            margin: 0 auto;
            @include mq(){
                width: 100%;
                padding: 0 2rem;
            }
        }
        &__list-wrap{
            width: 640px;
            margin: 0 auto;
            padding: 0 0 7rem;
            display: flex;
            justify-content: space-between;
            @include mq(){
                width: 100%;
                flex-direction: column;
                padding: 0 0 3rem;
            }
        }
        &__list-item{
            margin-top: 1.5rem;
            @include mq(){
                margin-top: .5rem;
            }
            &:first-child{
                margin-top: 0;
                @include mq(){
                    margin-top: .5rem;
                }
            }
            & > a{
                transition: color .2s;
                &:hover{
                    color: #ff8800;
                }
            }
        }
        &__intro{
            width:100%;
            padding: 3rem 2rem 0;
            background: var(--themecolor);
            border-top: 1px solid #000;
        }
        &__intro-inner{
            width: 750px;
            margin: auto;
            display: flex;
            align-items: center;
            @include mq(){
                width: 100%;
                flex-direction: column;
            }
        }
        &__info{
            margin-left: auto;
            @include mq(){
                margin-left: 0;
                margin-top: 2rem;
            }
        }
        &__copyright{
            width: 960px;
            margin: 0 auto;
            text-align: center;
            @include mq(){
                width: 100%;
            }
        }
    }
}