
.l-header{
    width: 100%;
}
.l-mv{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    @include mq(){
        width: 100%;
    }
    .l-mv{
        &__img{
            display: block;
            margin: auto;
        }
        &__copy{
            display: inline-block;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 100%; //ならないかも
            @include mq(){
                position: static;
                display: block;
                background: var(--themecolor);
                text-align: center;
                padding: 1rem 0;
            }
            &::before{
                content:'';
                display: block;
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 4px;
                height: 100%;
                background:#000;
                @include mq(){
                    display: none;
                }
            }
        }
        &__copy-text{
            overflow: hidden;
            line-height: 1;
            writing-mode: vertical-rl;
            position: absolute;
            top:45px;
            left: 50%;
            font-size: 6.1rem;
            font-weight: bold;
            text-shadow:
            1px  1px 0px #fff,
            -1px  1px 0px #fff,
            1px -1px 0px #fff,
            -1px -1px 0px #fff,
            1px  0px 0px #fff,
            0px  1px 0px #fff,
            -1px  0px 0px #fff,
            0px -1px 0px #fff;
            @include mq(){
                position: static;
                writing-mode:horizontal-tb;
            }
            .l-mv__copy-char{
                opacity: 0;
                display: inline-block;
                transform: translateX(-1em);
                animation: textSlideToRight 1s ease-in-out;
                animation-fill-mode: forwards;
            }
            &--02{
                color: var(--themecolor);
                top:auto;
                bottom: 45px;
                left: auto;
                right: 50%;
                text-shadow:
                1px  1px 0px #000,
                -1px  1px 0px #000,
                1px -1px 0px #000,
                -1px -1px 0px #000,
                1px  0px 0px #000,
                0px  1px 0px #000,
                -1px  0px 0px #000,
                0px -1px 0px #000;
                .l-mv__copy-char{
                    transform: translateX(1em);
                    animation: textSlideToLeft 1s ease-in-out;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}
.l-gnav{
    background: var(--themecolor);
    padding: 2rem 0;
    z-index:10;
    width: 100%;
    border-bottom: 2px solid #000;
    @include mq(){
        width: 70%;
        position: fixed;
        top:0;
        right: 0;
        height: 101%;
        padding: 1rem 0 2rem;
        overflow: hidden;
        z-index: -10;
        visibility: hidden;
        .is-gnav-open{
            visibility: visible;
        }
    }
    .l-gnav{
        &__inner{
            margin: 0 auto;
            display: flex;
            align-items: center;
            width: 960px;
            padding: 0 3.5rem;
            @include mq(){
                width: 100%;
                flex-direction: column;
            }
        }
        &__logo{
            margin-right:2rem;
        }
        &__list{
            min-height: 100%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include mq(){
                flex-direction: column;
                margin-top: 3rem;
            }
        }
        &__list-item{
            @include mq(){
                margin-top: 2rem;
            }
            & > a{
                font-weight: bold;
                padding: 0 0 1rem 0;
                position: relative;
                @include mq(){
                    font-size: 2rem;
                    padding: 0 0 .5rem 0;
                }
                &::after{
                    content:'';
                    position:absolute;
                    bottom: 0;
                    left:0;
                    right:0;
                    transition: transform .3s;
                    border-bottom: 1px solid #000;
                    transform: scale(0,1);
                    z-index:2;
                    @include mq(){
                        transform: scale(1);
                    }
                }
                &:hover::after{
                    transform: scale(1);
                }
            }
        }
    }
}
.l-hamburger{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index:100;
    display: none;
    @include mq(){
        display: block;
    }
}



@keyframes textSlideToLeft{
    0%{
        opacity: 0;
        transform: translateX(1em);
        @include mq(){
            transform: translateX(100%);
        }
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        @include mq(){
            transform: translateX(0);
        }
    }
}
@keyframes textSlideToRight{
    0%{
        opacity: 0;
        transform: translateX(-1em);
        @include mq(){
            transform: translateX(-100%);
        }
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        @include mq(){
            transform: translateX(0);
        }
    }
}
//ブレークポイント
/*@include mq(){
    @keyframes textSlideToLeft{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes textSlideToRight{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
}*/
